@font-face {
    font-family: 'Gerhaus';
    src: url('/FONTS/Gerhaus.ttf');
}

@font-face {
    font-family: 'Arnamu';
    src: url('/FONTS/arnamu.ttf');
}

@font-face {
    font-family: 'Vetrino';
    src: local('Vetrino'), url('../../FONTS/Vetrino.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
